svg[role="img"].nj-banner__mail-icon {
  height: 14px;
  width: 14px;
}

img.nj-banner__header-seal {
  box-sizing: unset;
}

abbr[title] {
  text-decoration: none;
}

.usa-form .usa-button.margin-top-0 {
  margin-top: 0;
}

.welcome-page .usa-process-list__item {
  padding-bottom: 0;
  padding-right: 20px;
}

.welcome-page .usa-process-list__item::before {
  position: relative;
  left: -56px;
}

.welcome-page .usa-process-list__heading {
  position: relative;
  top: -40px;
}

.welcome-page .usa-process-list__item > :last-child {
  position: relative;
  top: -40px;
}

.welcome-page .usa-process-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0em, max-content));
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
}

.welcome-page .usa-accordion .usa-accordion__button {
  background-color: #f0f0f0;
}

.welcome-page .usa-accordion .usa-accordion__button:hover {
  background-color: #f0f0f0;
}

.welcome-page .usa-accordion__content > p {
  max-width: fit-content;
}

@media all and (min-width: 0px) and (max-width: 1024px) {
  .welcome-page .usa-process-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
  }

  .welcome-page #njmmisEmail {
    word-break: break-all;
  }
}

.usa-accordion .usa-accordion__button {
  background-color: #ffbc78;
}
.usa-accordion .usa-accordion__button:hover {
  background-color: #ffbc78;
}
.usa-accordion.usa-accordion--bordered .usa-accordion__content {
  border-color: #ffbc78;
}

.horizontal-divider {
  box-sizing: content-box;
  height: 0;
  border-style: inset;
  border-width: 1px;
  color: gray;
}

.h2-margin-top {
  margin-top: 0.83em;
}

@media (max-width: 1023px) {
  .form-explainer {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  .form-explainer {
    margin-top: 0.83em;
  }
}
