svg[role="img"].nj-banner__mail-icon {
  height: 14px;
  width: 14px;
}

img.nj-banner__header-seal {
  box-sizing: unset;
}

abbr[title] {
  text-decoration: none;
}

.usa-form .usa-button.margin-top-0 {
  margin-top: 0;
}

.usa-accordion .usa-accordion__button {
  background-color: #ffbc78;
}
.usa-accordion .usa-accordion__button:hover {
  background-color: #ffbc78;
}
.usa-accordion.usa-accordion--bordered .usa-accordion__content {
  border-color: #ffbc78;
}

.horizontal-divider {
  box-sizing: content-box;
  height: 0;
  border-style: inset;
  border-width: 1px;
  color: gray;
}

.h2-margin-top {
  margin-top: 0.83em;
}
@media (max-width: 1023px) {
  .form-explainer {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  .form-explainer {
    margin-top: 0.83em;
  }
}
